@import '../../../../scss/variables.scss';

.OurServices {


    .services-grid {
        display: grid;
        gap: 28px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .grid-item {
            width: 100%;
            height: 338px;
            padding: 40px;
            border-radius: 40px;
            background: #F8F8F8;

            display: flex;
            flex-direction: column;
            gap: 24px;

            h6 {
                font-family: Nunito Sans;
                font-size: 32px;
                font-weight: 600;
                line-height: 38.4px;
                letter-spacing: -0.01em;
                text-align: left;
                color: #686666;
            }

            p {
                font-family: Nunito Sans;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                color: #7F7777;

            }

            &:nth-child(3) {
                grid-column: 3 / 5;
            }

            &:nth-child(4) {
                grid-column: 1 / 3;
            }
        }

    }
}