@import '../../../../scss/variables.scss';

.Contacts {
    padding: 60px;
    background: #1C1B1B;
    border-radius: 45px;
    margin: 120px 0;

    @media (max-width: $media-tablet) {
        padding: 24px 12px;
    }

    .map{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2{
        color: #fff;
    }


    h6 {
        font-family: Nunito Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #9C9898;
    }

    p,
    a[href^="mailto:"] {
        font-family: Nunito Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #fff;

        span {
            color: #FF6A00;
        }
    }



    a[href^="tel:"] {
        font-family: Nunito Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        color: #FF6A00;
    }
}

.contact-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
}