@import "variables";

.animated {
    &.show {
        transform: translateY(-100%);
        opacity: 0;
        animation: show 0.8s ease-out forwards;
    }

    &.delay{
        &-1 {
            animation-delay: 1s;
        }
        &-2 {
            animation-delay: 2s;
        }
        &-3 {
            animation-delay: 3s;
        }
        &-4 {
            animation-delay: 4s;
        }
        &-5 {
            animation-delay: 5s;
        }
        &-6 {
            animation-delay: 6s;
        }
    }

    @keyframes show {
        from {
            transform: translateY(-50%);
            opacity: 0;
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}